{% extends 'BlueLock/layout.html.twig' %}

{% block title %}
	BlueLock - Informations | MangaFoot Stats
{% endblock %}

{% block meta %}
	<meta name="description" content="Informations BlueLock">
{% endblock %}

{% block js %}
	<script src={{ asset('js/button.js') }} defer></script>
{% endblock %}


{% block body %}
	<section class="info-container p-7 flex flex-col justify-center items-center bg-white">
		<div class="w-full max-w-[1440px] flex flex-row max-lg:flex-col justify-center items-center">
			<div class="w-[600px] h-[350px] max-md:w-[400px] max-md:h-[250px]">
				<img src={{ asset('img/blue-lock-wallpaper.jpg') }} alt="Wallpaper BlueLock" class="w-full h-full">
			</div>
			<div class="w-full max-w-[600px] p-5">
				<h1 class="text-2xl">Synopsis</h1>
				<p class="text-xs">
					"Blue Lock" est une aventure sportive captivante qui explore l’essence du football sous un angle unique. Voici les quatre piliers principaux de cette histoire :
					<br><br>
					1.
					<strong>Le Projet Blue Lock</strong>
					: Face à l'échec de l'équipe nationale japonaise en Coupe du Monde, l'Union japonaise de football initie un projet radical : "Blue Lock". Ce programme expérimental vise à créer l'attaquant parfait capable de porter l'équipe au sommet. Dirigé par Jinpachi Ego, un entraîneur visionnaire et excentrique, ce projet rassemble 300 des meilleurs jeunes attaquants du pays pour une formation qui redéfinit les règles du football traditionnel.
					<br><br>
					2.
					<strong>Survie et Rivalité</strong>
					: Le projet fonctionne sur un principe impitoyable : seuls les meilleurs peuvent continuer, tandis que les perdants voient leur carrière internationale détruite. Chaque participant doit non seulement prouver sa supériorité dans des matchs acharnés, mais aussi naviguer dans une rivalité constante, rendant chaque victoire cruciale pour leur survie.
					<br><br>
					3.
					<strong>Football solitaire</strong>
					: Contrairement à l'idée classique de travail d'équipe, "Blue Lock" met l'accent sur l'individualité. Yoichi Isagi, le protagoniste, doit apprendre à penser en tant qu'attaquant égoïste et prioriser ses propres ambitions pour se démarquer. Ce concept redéfinit la manière de jouer au football, mêlant stratégie et instinct brut.
					<br><br>
					4.
					<strong>Conclusion</strong>
					: "Blue Lock" est bien plus qu'un simple manga sportif. Il s'agit d'une quête de perfection, un défi psychologique où chaque joueur doit confronter ses limites et ses valeurs. À travers des matchs palpitants et des confrontations intenses, l'œuvre interroge ce qu'il faut vraiment pour devenir le meilleur dans un monde où l'échec n'est pas une option.
				</p>
			</div>
		</div>

		<div class="w-full max-w-[1440px] flex flex-row justify-center items-center max-lg:flex-col mt-10">
			<div class="w-[600px] flex flex-col max-md:w-[400px] max-lg:order-2">
				<h2 class="text-2xl">Où retrouver BlueLock ?</h2>
				<div>
					<p class="text-xs mb-2">
						<strong>Anime</strong>
						:</p>
					<a class="bg-orange-500 hover:bg-orange-400 text-white font-bold py-2 px-4 rounded" href="https://www.crunchyroll.com/fr/series/G4PH0WEKE/blue-lock?srsltid=AfmBOopGUUGjxhKG7Nv15TlpR6EB4kDR4Bney2okmeMnq229EyFBxA96" target="_blank">Crunchyroll</a>
					<a class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded" href="https://www.primevideo.com/-/fr/detail/BLUELOCK/0OO3WN8OLQEWVSXJKIFB4BNMT3">PrimeVideo</a>
				</div>
				<div>
					<p class="text-xs my-2">
						<strong>Manga</strong>
						:</p>
					<a class="bg-yellow-500 hover:bg-yellow-400 text-white font-bold py-2 px-4 rounded" href="https://www.fnac.com/se86940/Blue-Lock" target="_blank">Fnac</a>
				</div>
			</div>
			<div class="w-[600px] h-[350px] max-md:w-[400px] max-md:h-[250px]">
				<img src={{ asset('img/isagi-yoichi-wallpaper.webp') }} alt="Wallpaper Isagi Yoichi" class="w-full h-full">
			</div>
		</div>

		<div class="w-full max-w-[1440px] flex flex-col justify-center items-center mt-10">
			<h2 class="text-2xl mb-5">Pourquoi ce site ?</h2>
			<div class="text-xs flex flex-row mb-10 justify-center items-center max-lg:flex-col">
				<div class="w-full max-w-[600px] max-lg:mb-10">
					<p>
						Si je pouvais décrire mon application en une phrase :
						<br>
						Mon application est un espace dédié aux fans de Blue Lock, où ils peuvent consulter et mettre en favori les statistiques de leurs joueurs et équipes préférés, 
												noter les performances des joueurs match par match, voter pour le MVP de chaque saison, et approfondir leurs connaissances sur l'univers de Blue Lock.
					</p>
				</div>
				<div class="w-full max-w-[600px]">
					<p>
						J’ai choisi de créer un site de statistiques sur Blue Lock parce que de nombreux fans du manga recherchent régulièrement des informations détaillées sur les joueurs, 
												les équipes, les matchs ou les saisons. Cependant, ces données sont souvent dispersées sur des plateformes comme X (anciennement Twitter) ou Reddit, rendant leur recherche difficile et peu efficace. 
												Mon site vise à résoudre ce problème en centralisant toutes les statistiques dans un espace dédié, accessible et bien organisé, 
												permettant ainsi aux fans d’atteindre facilement leurs objectifs et de plonger encore plus profondément dans l’univers de Blue Lock.
					</p>
				</div>
				
			</div>
			<p class="w-full max-w-[1200px]">
				<strong class="text-base">Enfin, il est essentiel de noter que les statistiques présentées sur le site ne sont pas toujours des vérités absolues. 
										Étant donné que certaines informations dans Blue Lock restent subjectives ou ouvertes à interprétation, les données peuvent varier et ne pas refléter une précision à 100 %.
				</strong>
			</p>
		</div>
	</section>
{% endblock %}
