<form method="post" action="{{ path('app_goals_assists_delete', {'id': goals_assist.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ goals_assist.id) }}">
    <button class="btn">Delete</button>
</form>
