<!DOCTYPE html>

<title>New Statistics</title>

{% block body %}
    <h1>Create new Statistics</h1>

    {{ include('admin/statistics/_form.html.twig') }}

    <a href="{{ path('app_statistics_index') }}">back to list</a>
{% endblock %}
