@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}



/* Menu burger */
@media (max-width: 426px) {
    .nav-bottom-liens {
        display: none; /* Masquer la navigation principale */
    }

    #navbar-dropdown.hidden {
        display: none; /* Masquer le menu déroulant par défaut */
    }

    #navbar-dropdown.show {
        display: flex; /* Afficher le menu déroulant lorsque actif */
    }
}


/* barre de navigation*/
.scrollbar {
    scrollbar-width: thin; /* Barre fine */
    scrollbar-color: #0d4b98 #f0f0f0; /* Pouce bleu, piste grise */
}


/* formulaire */

.incription-form label, .connexion-form label {
    font-size: 24px;
}

.incription-form button, .connexion-form button {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    left: 30%;
    padding: 10px 70px;
    border-radius: 30px;
    border: 1px solid white;
}

.form-input {
    width: 552px;
    height: 30px;
    color: black;
}

@media screen and (max-width: 552px) {
    .form-input {
        width: 400px;
    }

    .incription-form button, .connexion-form button {
        left: 21%;
    }
}