<!DOCTYPE html>

<title>New Arcs</title>

{% block body %}
    <h1>Create new Arcs</h1>

    {{ include('admin/arcs/_form.html.twig') }}

    <a href="{{ path('app_arcs_index') }}">back to list</a>
{% endblock %}
